In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('causes_of_death.tsv', delimiter='\t')
print(len(df))
df.head(80)

4115

,Notes,State,State Code,Ten-Year Age Groups,Ten-Year Age Groups Code,Gender,Gender Code,Race,Race Code,Deaths,Population,Crude Rate
0,NaN,Alabama,1,< 1 year,1,Female,F,American Indian or Alaska Native,1002-5,14,3579,Unreliable
1,NaN,Alabama,1,< 1 year,1,Female,F,Asian or Pacific Islander,A-PI,24,7443,322.5
2,NaN,Alabama,1,< 1 year,1,Female,F,Black or African American,2054-5,2093,169339,1236.0
3,NaN,Alabama,1,< 1 year,1,Female,F,White,2106-3,2144,347921,616.2
4,NaN,Alabama,1,< 1 year,1,Male,M,Asian or Pacific Islander,A-PI,33,7366,448.0
...,...,...,...,...,...,...,...,...,...,...,...,...
75,NaN,Alabama,1,85+ years,85+,Female,F,White,2106-3,116297,740184,15711.9
76,NaN,Alabama,1,85+ years,85+,Male,M,American Indian or Alaska Native,1002-5,40,1129,3543.0
77,NaN,Alabama,1,85+ years,85+,Male,M,Asian or Pacific Islander,A-PI,92,1269,7249.8
78,NaN,Alabama,1,85+ years,85+,Male,M,Black or African American,2054-5,12016,68421,17561.9
79,NaN,Alabama,1,85+ years,85+,Male,M,White,2106-3,57514,320674,17935.3

# Practice Explorations

### Groupby State and Sum the numeric features.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4115 entries, 0 to 4114
Data columns (total 12 columns):
Notes                       0 non-null float64
State                       4115 non-null object
State Code                  4115 non-null int64
Ten-Year Age Groups         4115 non-null object
Ten-Year Age Groups Code    4115 non-null object
Gender                      4115 non-null object
Gender Code                 4115 non-null object
Race                        4115 non-null object
Race Code                   4115 non-null object
Deaths                      4115 non-null int64
Population                  4115 non-null object
Crude Rate                  4115 non-null object
dtypes: float64(1), int64(2), object(9)
memory usage: 385.9+ KB

In [21]:
df['Population'] = pd.to_numeric(df['Population'])

ValueError: Unable to parse string "Not Applicable" at position 80

In [15]:
grouped1 = df.groupby('State')[['Deaths', 'State Code']].sum()
grouped1.head(10)

                       Deaths  State Code
State
Alabama                860780          81
Alaska                  63334         164
Arizona                838094         368
Arkansas               522914         405
California            4307061         564
Colorado               561283         704
Connecticut            531290         729
Delaware               135933         690
District of Columbia    94073         715
Florida               3131111        1080

### Calculate the Correlation Coefficient between the Deaths and Population Columns (of your grouped dataframe)

In [ ]:
#Your code here

### Repeat this process across multiple features
Iterate over the following columns: ['Race', 'Gender', 'Ten-Year Age Groups']. Within your for loop, create a temporary groupby aggregate as we did for the State column above. Then, print any aggregate grouping where the correlation coefficient is less then .95.

In [ ]:
#Your code here

### Combining Features

We can further expand upon our exploration above by testing multiple features against each other!
Complete the code below to print any combination of features where the correlation between population and death is below .95 (or some other appropriate threshold).

In [ ]:
#This could also be accomplished with the combinations() method from the itertools package.
for n, feat1 in enumerate(features):
    for feat2 in features[n:]:
        #Your code here
        #groupby feat1 and feat2!!
        #repeat your code above to check if the correlation is below a [high] threshold.