In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('causes_of_death.tsv', delimiter='\t')
print(len(df))
df.head[20,40]

4115

TypeError: 'method' object is not subscriptable

# Practice Explorations

### Groupby State and Sum the numeric features.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4115 entries, 0 to 4114
Data columns (total 12 columns):
Notes                       0 non-null float64
State                       4115 non-null object
State Code                  4115 non-null int64
Ten-Year Age Groups         4115 non-null object
Ten-Year Age Groups Code    4115 non-null object
Gender                      4115 non-null object
Gender Code                 4115 non-null object
Race                        4115 non-null object
Race Code                   4115 non-null object
Deaths                      4115 non-null int64
Population                  4115 non-null object
Crude Rate                  4115 non-null object
dtypes: float64(1), int64(2), object(9)
memory usage: 385.9+ KB

In [8]:
grouped1 = df.groupby('State')[['Deaths']].sum()
grouped1.head(10)

                       Deaths
State
Alabama                860780
Alaska                  63334
Arizona                838094
Arkansas               522914
California            4307061
Colorado               561283
Connecticut            531290
Delaware               135933
District of Columbia    94073
Florida               3131111

### Calculate the Correlation Coefficient between the Deaths and Population Columns (of your grouped dataframe)

In [ ]:
#Your code here

### Repeat this process across multiple features
Iterate over the following columns: ['Race', 'Gender', 'Ten-Year Age Groups']. Within your for loop, create a temporary groupby aggregate as we did for the State column above. Then, print any aggregate grouping where the correlation coefficient is less then .95.

In [ ]:
#Your code here

### Combining Features

We can further expand upon our exploration above by testing multiple features against each other!
Complete the code below to print any combination of features where the correlation between population and death is below .95 (or some other appropriate threshold).

In [ ]:
#This could also be accomplished with the combinations() method from the itertools package.
for n, feat1 in enumerate(features):
    for feat2 in features[n:]:
        #Your code here
        #groupby feat1 and feat2!!
        #repeat your code above to check if the correlation is below a [high] threshold.